<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Microlocation</display-name>
  <servlet>
    <description></description>
    <display-name>BeaconController</display-name>
    <servlet-name>BeaconController</servlet-name>
    <servlet-class>microlocation.controllers.BeaconController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeaconController</servlet-name>
    <url-pattern>/BeaconController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WemoController</display-name>
    <servlet-name>WemoController</servlet-name>
    <servlet-class>microlocation.controllers.WemoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WemoController</servlet-name>
    <url-pattern>/WemoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WemoController3</display-name>
    <servlet-name>WemoController3</servlet-name>
    <servlet-class>microlocation.controllers.WemoController3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WemoController3</servlet-name>
    <url-pattern>/WemoController3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WemoController4</display-name>
    <servlet-name>WemoController4</servlet-name>
    <servlet-class>microlocation.controllers.WemoController4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WemoController4</servlet-name>
    <url-pattern>/WemoController4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PF</display-name>
    <servlet-name>PF</servlet-name>
    <servlet-class>microlocation.controllers.PF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PF</servlet-name>
    <url-pattern>/PF</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>KFPF</display-name>
    <servlet-name>KFPF</servlet-name>
    <servlet-class>microlocation.controllers.KFPF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KFPF</servlet-name>
    <url-pattern>/KFPF</url-pattern>
  </servlet-mapping>
</web-app>