<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FinalIoTMicrolocation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4661248A1BC3ACD800BF0725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>466124A01BC3ACD800BF0725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>466124AB1BC3ACD800BF0725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
